{% extends "default.html" %}

{% block title %}
<title>500</title>
{% endblock %}

{% block pagetype %}error-500{% endblock %}

{% block content %}
<div class="text-center px-3 my-8">

	<i class="fad fa-bug text-muted mb-5" style="font-size: 5rem;"></i>
	<div class="font-weight-bold text-muted mb-3">505 Internal Server Error. Something has broken :(</div>
	<div><a href="/" class="btn btn-primary">Go to frontpage</a></div>

	{% if v %}
	{% if v.admin_level>3 %}
	<hr>
	<pre>
		{{ e }}
	</pre>
	{% endif %}
	{% endif %}

</div>
{% endblock %}